[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
ipykernel = "*"
asynctest = "*"
pytest = "*"

[packages]
environs = "*"
Jinja2 = "*"
lxml = "*"
xmltodict = "*"

[requires]
python_version = "3.9"
