[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
pytest = "*"

[packages]
environs = "*"
Jinja2 = "*"
xmltodict = "*"
debugpy = "*"
pyperclip = "*"
lxml = "*"
lxml-stubs = "*"

[requires]
python_version = "3.13"

[scripts]
supervisor = "bash -c 'python enki/apps/supervisor'"
lookApp_machine = "bash -c 'LOG_LEVEL=INFO python tools/cmd/machine/lookApp.py'"
onFindInterfaceAddr = "bash -c 'LOG_LEVEL=INFO python tools/cmd/machine/onFindInterfaceAddr.py'"
onQueryAllInterfaceInfos = "bash -c 'LOG_LEVEL=INFO python tools/cmd/machine/onQueryAllInterfaceInfos.py'"
queryComponentID = "bash -c 'LOG_LEVEL=INFO python tools/cmd/machine/queryComponentID.py'"
reqCloseServer = "bash -c 'LOG_LEVEL=INFO python tools/cmd/common/reqCloseServer.py'"
login = "bash -c 'LOG_LEVEL=INFO python tools/cmd/loginapp/login.py'"

pyreverse = "mkdir -p /tmp/enki_pyreverse/ && pyreverse --output png --project enki --output-directory /tmp/enki_pyreverse/ enki"

kill_msgreader = "bash -c \"kill -s 7 $(ps aux | grep 'tools/msgreader' | grep -v grep | awk '{print $2}')\""

msgreader_d = "python tools/msgreader --log-level=DEBUG pcap --component-name-by-ip-file /home/leto/2PeopleCompany/REPOS/enki/tools/msgreader/data/component-name-by-ip.file --pcap-files-directory /tmp/kbedump --ignored-msgs Logger::writeLog Machine::lookApp Machine::onLookApp"

msgreader = "python tools/msgreader --log-level=INFO pcap --show-data --parse-msg --component-name-by-ip-file tools/msgreader/data/component-name-by-ip.file --pcap-files-directory /tmp/kbedump --ignored-msgs Machine::lookApp Machine::onLookApp Logger::lookApp Logger::onLookApp Logger::onAppActiveTick Logger::writeLog Interfaces::lookApp  Interfaces::onLookApp Dbmgr::lookApp Dbmgr::onLookApp Dbmgr::onAppActiveTick Baseappmgr::lookApp Baseappmgr::onLookApp Baseappmgr::updateBaseapp Baseappmgr::onAppActiveTick Cellappmgr::lookApp Cellappmgr::onLookApp Cellappmgr::updateCellapp Cellappmgr::onAppActiveTick Cellapp::lookApp Cellapp::onLookApp Cellapp::onAppActiveTick Baseapp::lookApp Baseapp::onLookApp Baseapp::onAppActiveTick Loginapp::lookApp Loginapp::onLookApp Loginapp::onAppActiveTick"

