"""This generated module contains some settings from the "kbengine.xml" file."""

from typing import ClassVar

from enki import default_kbenginexml


class root(default_kbenginexml.root):
    class publish:  # type: ignore
        script_version: ClassVar[str] = {{ root.publish.script_version|tojson }}
    class channelCommon:  # type: ignore
        class timeout:
            external: ClassVar[float] = {{ root.channelCommon.timeout.external }}
    class cellapp:  # type: ignore
        aliasEntityID: ClassVar[bool] = {{ root.cellapp.aliasEntityID }}
        entitydefAliasID: ClassVar[bool] = {{ root.cellapp.aliasEntityID }}
