"""API сущности "{{ entity_info.name }}" сгенерированный по её описанию в {{ entity_info.name }}.def.

See file:///./../../../../scripts/entity_defs/{{ entity_info.name }}.def
"""

from __future__ import annotations

import abc
from typing import Optional

import assetsapi
from assetsapi.kbeapi import BaseRemoteCallAPI, CellRemoteCallAPI, \
    ClientRemoteCallAPI, BaseEntityAPI, CellEntityAPI, ProxyEntityAPI, \
    BaseEntityComponentAPI, CellEntityComponentAPI, EntityCall

from ..typesxml import *

{%- for type_name in component_types %}
from ..components.{{ type_name.lower() }} import Client{{ type_name }}ComponentRemoteCallAPI, \
    Cell{{ type_name }}ComponentRemoteCallAPI, Base{{ type_name }}ComponentRemoteCallAPI
{%- endfor %}

{%- set client_enitity_remote_call_name = 'Client' + entity_info.name + 'RemoteCallAPI' -%}
{%- set cell_enitity_remote_call_name = 'Cell' + entity_info.name + 'RemoteCallAPI' -%}
{%- set base_enitity_remote_call_name = 'Base' + entity_info.name + 'RemoteCallAPI' -%}

{%- set cell_enitity_call_name = 'Cell' + entity_info.name + 'EntityCallAPI' -%}
{%- set base_enitity_call_name = 'Base' + entity_info.name + 'EntityCallAPI' -%}

{{ '' }}
{{ '' }}
class {{ client_enitity_remote_call_name }}(ClientRemoteCallAPI):
    """{{ entity_info.doc }} (client component)."""

    if not assetsapi.IN_THE_ENGINE:{%- if not (entity_info.ClientMethods or entity_info.Components) %} pass{% endif -%}
{{ '' }}
{%- for info in entity_info.ClientMethods %}
    {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + entity_info.name + '.def#' + info.line_number|string %}
    {%- if info.comment -%}
        {%- set comment = info.comment + '.\n\n' + '        ' + line_number %}
    {%- else -%}
        {%- set comment = line_number %}
    {%- endif %}
{{ '' }}
        def {{ info.name }}({{ build_method_args(info, type_info_by_name, False) }}):
            """{{ comment }}"""
{% endfor %}

{%- for info in entity_info.Components %}
{{ '' }}
        @property
        def {{ info.name }}(self) -> Client{{ info.type }}ComponentRemoteCallAPI:
            """file:///./../../../../scripts/entity_defs/components/{{ info.type }}.def"""
            return Client{{ info.type }}ComponentRemoteCallAPI()
{%- endfor %}


class {{ base_enitity_remote_call_name }}(BaseRemoteCallAPI):
    """Remote call to base component of the entity '{{ entity_info.name }}'."""

    if not assetsapi.IN_THE_ENGINE:{%- if not (entity_info.BaseMethods or entity_info.Components) %} pass{% endif %}
{{ '' }}
{%- for info in entity_info.BaseMethods %}
    {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + entity_info.name + '.def#' + info.line_number|string %}
    {%- if info.comment -%}
        {%- set comment = info.comment + '.\n\n' + '        ' + line_number %}
    {%- else -%}
        {%- set comment = line_number %}
    {%- endif %}
{{ '' }}
        def {{ info.name }}({{ build_method_args(info, type_info_by_name, False) }}):
            """{{ comment }}"""
{% endfor -%}

{%- for info in entity_info.Components %}
{{ '' }}
        @property
        def {{ info.name }}(self) -> Base{{ info.type }}ComponentRemoteCallAPI:
            """file:///./../../../../scripts/entity_defs/components/{{ info.type }}.def"""
            return Base{{ info.type }}ComponentRemoteCallAPI()
{%- endfor %}

{{ '' }}
{{ '' }}
class {{ cell_enitity_remote_call_name }}(CellRemoteCallAPI):
    """Remote call to cell component of the entity '{{ entity_info.name }}'."""

    if not assetsapi.IN_THE_ENGINE:{%- if not (entity_info.CellMethods or entity_info.Components) %} pass{% endif -%}
{{ '' }}
{%- for info in entity_info.CellMethods %}
    {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + entity_info.name + '.def#' + info.line_number|string %}
    {%- if info.comment -%}
        {%- set comment = info.comment + '.\n\n' + '        ' + line_number %}
    {%- else -%}
        {%- set comment = line_number %}
    {%- endif %}
{{ '' }}
        def {{ info.name }}({{ build_method_args(info, type_info_by_name, False) }}):
            """{{ comment }}"""
{% endfor %}

{%- for info in entity_info.Components %}
{{ '' }}
        @property
        def {{ info.name }}(self) -> Cell{{ info.type }}ComponentRemoteCallAPI:
            """file:///./../../../../scripts/entity_defs/components/{{ info.type }}.def"""
            return Cell{{ info.type }}ComponentRemoteCallAPI()
{%- endfor %}
{{ '' }}
{{ '' }}
class {{ base_enitity_call_name }}(EntityCall):
    """{{ entity_info.doc }} (base component)."""

    if not assetsapi.IN_THE_ENGINE:
{{ '' }}
        @property
        def client(self) -> {% if entity_info.ClientMethods -%}Client{{ entity_info.name }}RemoteCallAPI{% else -%}None{%- endif %}:
            return {% if entity_info.ClientMethods -%}Client{{ entity_info.name }}RemoteCallAPI(){% else -%}None{%- endif %}

        @property
        def cell(self) -> {% if entity_info.CellMethods -%}Cell{{ entity_info.name }}RemoteCallAPI{% else -%}None{%- endif %}:
            return {% if entity_info.CellMethods -%}Cell{{ entity_info.name }}RemoteCallAPI(){% else -%}None{%- endif %}

{%- for info in entity_info.BaseMethods %}
    {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + entity_info.name + '.def#' + info.line_number|string %}
    {%- if info.comment -%}
        {%- set comment = info.comment + '.\n\n' + '        ' + line_number %}
    {%- else -%}
        {%- set comment = line_number %}
    {%- endif %}
{{ '' }}
        def {{ info.name }}({{ build_method_args(info, type_info_by_name, False) }}):
            """{{ comment }}"""
{%- endfor -%}
{{ '' }}
{{ '' }}
class {{ cell_enitity_call_name }}(EntityCall):
    """{{ entity_info.doc }} (cell component)."""

    if not assetsapi.IN_THE_ENGINE:

        @property
        def base(self) -> {% if entity_info.BaseMethods -%}Base{{ entity_info.name }}RemoteCallAPI{% else -%}None{%- endif %}:
            return {% if entity_info.BaseMethods -%}Base{{ entity_info.name }}RemoteCallAPI(){% else -%}None{%- endif %}

        @property
        def client(self) -> {% if entity_info.ClientMethods -%}Client{{ entity_info.name }}RemoteCallAPI{% else -%}None{%- endif %}:
            return {% if entity_info.ClientMethods -%}Client{{ entity_info.name }}RemoteCallAPI(){% else -%}None{%- endif %}

        @property
        def allClients(self) -> {% if entity_info.ClientMethods -%}Client{{ entity_info.name }}RemoteCallAPI{% else -%}None{%- endif %}:
            return {% if entity_info.ClientMethods -%}Client{{ entity_info.name }}RemoteCallAPI(){% else -%}None{%- endif %}

        @property
        def otherClients(self) -> {% if entity_info.ClientMethods -%}Client{{ entity_info.name }}RemoteCallAPI{% else -%}None{%- endif %}:
            return {% if entity_info.ClientMethods -%}Client{{ entity_info.name }}RemoteCallAPI(){% else -%}None{%- endif %}

{%- for info in entity_info.CellMethods %}
    {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + entity_info.name + '.def#' + info.line_number|string %}
    {%- if info.comment -%}
        {%- set comment = info.comment + '.\n\n' + '        ' + line_number %}
    {%- else -%}
        {%- set comment = line_number %}
    {%- endif %}
{{ '' }}
        def {{ info.name }}({{ build_method_args(info, type_info_by_name, True) }}):
            """{{ comment }}"""
{% endfor %}
{{ '' }}
{{ '' }}
{%- if entity_info.name in proxy_entities_list %}
class Base{{ entity_info.name }}API({{ base_enitity_call_name }}, ProxyEntityAPI):
{%- else %}
class Base{{ entity_info.name }}API({{ base_enitity_call_name }}, BaseEntityAPI):
{%- endif %}
    """{{ entity_info.doc }} (base component)."""

    if not assetsapi.IN_THE_ENGINE:{%- if not entity_info.get_base_properties() %} pass{% endif -%}

    {%- for prop in entity_info.get_base_properties() %}
        {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + entity_info.name + '.def#' + prop.line_number|string %}
        {%- if prop.comment -%}
            {%- set comment = prop.comment + ' (' + line_number + ')' %}
        {%- else -%}
            {%- set comment = line_number %}
        {%- endif %}
{{ '' }}
        """{{ comment }}"""
        {%- if type_info_by_name[prop.type].py_type_name == 'EntityCall' %}
        {{ prop.name }}: Optional[{{ type_info_by_name[prop.type].py_type_name }}]
        {%- else %}
        {{ prop.name }}: {{ type_info_by_name[prop.type].py_type_name }}
        {%- endif %}
    {%- endfor %}


class Cell{{ entity_info.name }}API({{ cell_enitity_call_name }}, CellEntityAPI):
    """{{ entity_info.doc }} (cell component)."""

    if not assetsapi.IN_THE_ENGINE:{%- if not entity_info.get_cell_properties() %} pass{% endif -%}
{{ '' }}
    {%- for prop in entity_info.get_cell_properties() %}
        {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + entity_info.name + '.def#' + prop.line_number|string %}
        {%- if prop.comment -%}
            {%- set comment = prop.comment + ' (' + line_number + ')' %}
        {%- else -%}
            {%- set comment = line_number %}
        {%- endif %}
        """{{ comment }}"""
        {{ prop.name }}: {{ type_info_by_name[prop.type].py_type_name }}
    {%- endfor %}

# --- Components API (if the entity has components) ---

{%- for component_type in component_types %}
    {%- set comp_type = component_type %}
    {%- set comp_info = comp_info_by_comp_type_name[comp_type].def_cls_data %}
    {%- set comp_attr_names = comp_names_by_comp_type_name[comp_type] %}


class Base{{ comp_type }}ComponentOf{{ entity_info.name }}(BaseEntityComponentAPI):
    """{{ comp_info.doc }} (base component)."""

    if not assetsapi.IN_THE_ENGINE:
{{ '' }}
        @property
        def client(self) -> Client{{ comp_type }}ComponentRemoteCallAPI:
            return Client{{ comp_type }}ComponentRemoteCallAPI()

        @property
        def cell(self) -> Cell{{ comp_type }}ComponentRemoteCallAPI:
            return Cell{{ comp_type }}ComponentRemoteCallAPI()
{{ '' }}
    {%- for prop in comp_info.get_base_properties() %}
        {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + entity_info.name + '.def#' + prop.line_number|string %}
        {%- if prop.comment -%}
            {%- set comment = prop.comment + ' (' + line_number + ')' %}
        {%- else -%}
            {%- set comment = line_number %}
        {%- endif %}
        @property
        def {{ prop.name }}(self) -> {{ type_info_by_name[prop.type].py_type_name }}:
            """{{ comment }}"""
            return {{ type_info_by_name[prop.type].py_type_name }}()

        @{{ prop.name }}.setter
        def {{ prop.name }}(self, value: {{ type_info_by_name[prop.type].py_type_name }}):
            pass
    {%- endfor -%}
{{ '' }}
{{ '' }}
        @property
        def owner(self) -> IBase{{ entity_info.name }}API:
            return IBase{{ entity_info.name }}API() # type: ignore

        @property
        def className(self) -> str:
            return '{{ comp_type }}'

        @property
        def name(self) -> str:
            return {{ comp_attr_names }}
{{ '' }}
    {%- for info in comp_info.BaseMethods %}
        {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + entity_info.name + '.def#' + info.line_number|string %}
        {%- if info.comment -%}
            {%- set comment = info.comment + '.\n\n' + '        ' + line_number %}
        {%- else -%}
            {%- set comment = line_number %}
        {%- endif %}
{{ '' }}
        def {{ info.name }}({{ build_method_args(info, type_info_by_name, False) }}):
            """{{ comment }}"""
    {%- endfor %}
{{ '' }}
{{ '' }}
class Cell{{ comp_type }}ComponentOf{{ entity_info.name }}(CellEntityComponentAPI):
    """{{ comp_info.doc }} (cell component)."""

    if not assetsapi.IN_THE_ENGINE:
{{ '' }}
        @property
        def client(self) -> Client{{ comp_type }}ComponentRemoteCallAPI:
            return Client{{ comp_type }}ComponentRemoteCallAPI()

        @property
        def allClients(self) -> Client{{ comp_type }}ComponentRemoteCallAPI:
            return Client{{ comp_type }}ComponentRemoteCallAPI()

        @property
        def otherClients(self) -> Client{{ comp_type }}ComponentRemoteCallAPI:
            return Client{{ comp_type }}ComponentRemoteCallAPI()

        @property
        def base(self) -> Base{{ comp_type }}ComponentRemoteCallAPI:
            return Base{{ comp_type }}ComponentRemoteCallAPI()

    {%- for prop in comp_info.get_cell_properties() %}
        {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + entity_info.name + '.def#' + prop.line_number|string %}
        {%- if prop.comment -%}
            {%- set comment = prop.comment + ' (' + line_number + ')' %}
        {%- else -%}
            {%- set comment = line_number %}
        {%- endif %}
{{ '' }}
        @property
        def {{ prop.name }}(self) -> {{ type_info_by_name[prop.type].py_type_name }}:
            """{{ comment }}"""
            return {{ type_info_by_name[prop.type].py_type_name }}()

        @{{ prop.name }}.setter
        def {{ prop.name }}(self, value: {{ type_info_by_name[prop.type].py_type_name }}):
            pass
    {%- endfor -%}
{{ '' }}
{{ '' }}
        @property
        def owner(self) -> ICell{{ entity_info.name }}API:
            return ICell{{ entity_info.name }}API() # type: ignore

        @property
        def className(self) -> str:
            return '{{ comp_type }}'

        @property
        def name(self) -> str:
            return {{ comp_attr_names }}

    {%- for info in comp_info.CellMethods %}
        {%- set line_number = 'file:///./../../../../scripts/entity_defs/' + comp_type + '.def#' + info.line_number|string %}
        {%- if info.comment -%}
            {%- set comment = info.comment + '.\n\n' + '        ' + line_number %}
        {%- else -%}
            {%- set comment = line_number %}
        {%- endif %}
{{ '' }}
        def {{ info.name }}({{ build_method_args(info, type_info_by_name, True) }}):
            """{{ comment }}"""
{%- endfor %}

{%- endfor %}
