"""Типы данных Python, отражающие типы из kbetypes.xml .

See file:///./../../../scripts/entity_defs/types.xml
"""

from typing import Type, Any
from .vector import Vector2, Vector3, Vector4

class EntityCall:
    """Заглушка."""
    pass

{% for info in type_info_by_name.values() -%}
    {%- if info.is_base_type %}
{{ info.name }} = {{ info.py_type_name }}
    {%- elif info.is_base_type_alias %}
{{ info.py_type_name }} = {{ type_info_by_name[info.base_type_name].py_type_name }}  # {{ info.name }} {% if info.line_number -%} (<file:///./../../../scripts/entity_defs/types.xml#{{ info.line_number }}>) {%- endif %}
    {%- elif info.is_array %}
{{ info.py_type_name }} = list[{{ info.arr_of_py_type_name }}]  # {{ info.name }}  {% if info.line_number -%} (<file:///./../../../scripts/entity_defs/types.xml#{{ info.line_number }}>) {%- endif %}
    {%- elif info.is_fixed_dict %}
        {%- if not info.converter -%}
{{ '' }}
{{ '' }}
class {{ info.py_type_name }}(dict):
    """{{ info.name }} {% if info.line_number -%} (<file:///./../../../scripts/entity_defs/types.xml#{{ info.line_number }}>) {%- endif %}"""
            {%- for k, v in info.fd_pairs.items() %}
    {{ k }}: {{ v }}
            {%- endfor %}
{{ '' }}
{{ '' }}
        {%- else %}
        {%- set module_name = info.converter.split('.')[0] %}
        {%- set converter = info.converter.split('.')[1] %}
            {%- if user_type_infos.get(module_name) and user_type_infos[module_name].get(converter) -%}
                {%- set user_type_info = user_type_infos[module_name][converter] %}
                {%- if user_type_info.converter_info.obj_type == 'Any' -%}
{{ info.py_type_name }} = Any  # The converter doesn't have annotations
                {%- else %}
from {{ module_name }} import {{ user_type_info.converter_info.obj_type }}
{{ info.py_type_name }} = {{ user_type_info.converter_info.obj_type }}  # {% if info.line_number -%} (<file:///./../../../scripts/entity_defs/types.xml>)#{{ info.line_number }} {%- endif %}
                {%- endif %}
            {%- else -%}
{{ '' }}
{{ '' }}
class {{ info.py_type_name }}(dict):
    """{{ info.name }} {% if info.line_number -%} (<file:///./../../../scripts/entity_defs/types.xml#{{ info.line_number }}>) {%- endif %}"""
                {%- for k, v in info.fd_pairs.items() %}
    {{ k }}: {{ v }}
                {%- endfor %}
{{ '' }}
{{ '' }}
            {%- endif %}
        {%- endif %}
    {%- else %}
raise
    {%- endif %}
{%- endfor %}
