"""
Данный модуль дублирует модуль typesxml.py, но с тем отличием, что все
FD с конвертерами здесь заменены на простые FD (c FD суффиксом в имени).

Этот модуль должен использоваться только для импорта в модули директории user_type.
Цель этого модуля дать возможность указывать спецификацию FIXED_DICT, который
получает конвертер.

Модуль содержит сгенерированные типы, описывающие FIXED_DICT с конвертерами (см. __all__).

Эти словари нужны *только* для указания типов, используемых конвертерами в папке
user_type. В методах сущностей эти типы использоваться не должны, для этого
есть модуль typesxml.py .
"""

from ._typesxml import *


__all__ = [
{%- for name in type_names %}
    '{{ name }}',
{%- endfor %}
]
