"""Generated base classes of entities of the file entities.xml"""

from .description import DESC_BY_UID
{% for entity_spec in entities %}
{%- if entity_spec.name not in assets_ent_c_data -%}
from .{{ entity_spec.name }} import {{ entity_spec.name }}Base
{% else -%}
from .components.{{ entity_spec.name }} import {{ entity_spec.name }}Base
{% endif -%}
{%- endfor %}
__all__ = [
    'DESC_BY_UID',
    {%- for entity_spec in entities %}
    '{{ entity_spec.name }}Base',
    {%- endfor %}
]

