"""This generated module contains some settings from the "kbengine.xml" file."""

from typing import ClassVar

class root:
    class publish:
        script_version: ClassVar[str] = {{ root.publish.script_version|tojson }}
    class channelCommon:
        class timeout:
            external: ClassVar[float] = {{ root.channelCommon.timeout.external }}
    class cellapp:
        aliasEntityID: ClassVar[bool] = {{ root.cellapp.aliasEntityID }}
        entitydefAliasID: ClassVar[bool] = {{ root.cellapp.aliasEntityID }}
